*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --color-1:#000;
}

*{
    font-family: Regular, Semibold and Bold;
    font-size: 24px; 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    
}

ul{
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: auto;
    background-color: #000;
   
}

.peter{
    display: flex;
    flex-wrap: wrap;
    
}

.header{
    background-color: var(--color-1);
    padding: 12px 0;
    line-height: 1.5rem;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}

.logo a i{
    font-size: 35px;
    color: #FFAB4C;
}

.header .nav ul li a{
    color: #FFAB4C;
    transition: all 0.5s ease;
    text-transform: capitalize;
    
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #105652;
    text-decoration: none;
}

.nav-toggler{
    height: 34px;
    width: 44px;
    background-color: #105652;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: none;
    margin-right: 15px;


    
}
.nav-toggler:focus{
    outline: none;

}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:  auto;
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--color-1);
    left: 0;
    top: 0;
    position: absolute;
    transition: all 0.5s ease;
}

.nav-toggler span::before{
    transform: translateY(-6px);
}
.nav-toggler span::after{
    transform: translateY(6px);
}


@media(max-width: 991px){
    .nav-toggler{
        display: block;

    }
    .header .nav{
        width: 100%;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.6s ease;
    }
    .header .nav.open{
        visibility: visible;
    }
    .header .nav ul li{
        display: block;
        margin: 2.5rem;

    }
    .header .nav ul{
        padding: 0 3px;
        
    }
    }

.max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


/* home section */
.home{
    display: flex;
    background: url("assets/com5.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #FFAB4C;
    min-height: 500px;
    font-family: Regular, Semibold and Bold;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 1.5rem;
}
.home .home-content .text-2{
    font-size: 1.8rem;
    font-weight: 600px;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 1.5rem;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #FFAB4C;
    color: #105652;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #105652;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #105652;
    background: #fff;
}
/* Similar styling for content */
section{
    padding: 100px 0;
}
.about, .services, .skills, .contact, footer{
    font-family: Regular, Semibold and Bold;
}







.about .about-content, 
.services .serv-content, 
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #FFAB4C;
    text-decoration: underline;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: Regular, Semibold and Bold;
    
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: crimson; 
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}


.about .about-content .left{
    width: 45%;
    
}

.about .about-content .left img{
    height: 700px;
    width: 500px;
    object-fit: contain;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFAB4C;
    font-family: Regular, Semibold and Bold;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #FFAB4C;
}
.about .about-content .right p{
    text-align: justify;
    color: #FFAB4C;
}
.about .about-content .right a{
    display: inline-block;
    background: #FFAB4C;
    color: #105652;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    font-family: Regular, Semibold and Bold;
    border-radius: 6px;
    border: 2px solid #105652;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #105652;
    background: none;
}

.text{
    color: #FFAB4C;
}

.info span{
    color: #FFAB4C;
}


.she{
    color: #FFAB4C;
}

/* Services Section */
.services{
    color: #FFAB4C;
    background: #111;
    font-family: Regular, Semibold and Bold;
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transform: scale(1.05);
}
.services .serv-content .card:hover{
    background: #105652;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    font-family: Regular, Semibold and Bold;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
    font-family: Regular, Semibold and Bold;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    font-family: Regular, Semibold and Bold;
    margin: 10px 0 7px 0;
}


 




/* My Projects Section Styling */

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 24px;
    font-weight: 600;
    font-family: Regular, Semibold and Bold;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    font-family: Regular, Semibold and Bold;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: #105652;
}
.skills .skills-content .right .html::before{
    width: 95%;
}
.skills .skills-content .right .css::before{
    width: 80%;
}
.skills .skills-content .right .js::before{
    width: 60%;
}
.skills .skills-content .right .flask::before{
    width: 55%;
}
.skills .skills-content .right .figma::before{
    width: 65%;
}
.skills .skills-content .right .boot::before{
    width: 82%;
}
.skills .skills-content .right .bulma::before{
    width: 60%;
}
.skills .skills-content .right .django::before{
    width: 70%;
}
.skills .skills-content .right .sql::before{
    width: 62%;
}
.skills .skills-content .right .angular::before{
    width: 50%;
}

/* contact section styles */

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    font-family: Regular, Semibold and Bold;
}
.contact .contact-content .left{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #FFAB4C;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .fields input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: Regular, Semibold and Bold;
}
.contact .right form  .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    font-family: Regular, Semibold and Bold;
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #105652;
    color: #105652;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    background: #FFAB4C;
    font-family: Regular, Semibold and Bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #105652;
    font-family: Regular, Semibold and Bold;
    background: none;
}
.icon{
    padding: 0 3rem;
    text-align: center;
    

}


.social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: #FFAB4C;
    margin: 1.4rem;

}

.social a:hover {
    color: #105652;
}

.heading {
    text-align: center;

}
.heading h1 {
    font-size: 1.8rem;
    
    
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

}

.services-box {
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid #105652;
    box-shadow: 0 2px 7px #FFAB4C;



}

.services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;


}

.services-box .bx {
    padding-top: 2rem;
    font-size: 24px;
    color: yellow;

}

.services-box a {
    color: #FFAB4C;
    font-size: var(--p-font);
    font-weight: 500;

}





/* Footer Section Styles */
footer{
    padding: 20px 23px;
    color: #FFAB4C;
    text-align: center;
    font-family: Regular, Semibold and Bold;
}







/* reponsive media querry */
@media (max-width: 1300px){
   .home .max-width{
       margin-left: 0px;
   }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
 }

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
 }

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
 }

 @media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
 }

 .bars{
    font-family: Regular, Semibold and Bold;
    
 }